<!DOCTYPE html>
<html>
    <head>
        <style>
            input {
                width:100%;
                height:30px;
                font-size:20px;
            }
        </style>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="js/tag-it.min.js" type="text/javascript" charset="utf-8"></script>

        <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">
        <link href="css/jquery.tagit.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
        <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
        <link href="css/main.css" rel="stylesheet">

        <script>
            function getContent(){
                document.getElementById("copy-textarea").value = document.getElementsByClassName("ql-clipboard")[0].innerHTML;
            }
        </script>
    
    </head>

    <body>
        <div class="container">
        <h1>Uberflip Content Upload Form</h1>
            <div class="child"> 
                <form class="pure-form-stacked" action="/form-submit" method="post" enctype="multipart/form-data" onsubmit="return getContent()">
                    <fieldset>
                        <legend>Content Info</legend>
                        <label for="title">Title</label><input id="title" name="title" type="text" placeholder="Analytics Monitoring: How to Ensure Your Implementation Stays Up and Running">
                        
                        <label for="slug">Slug</label><input id="slug" name="slug" type="text"> <!--Make sure to add regex validation for the slug-->
                        <label for="author">Author</label>
                        <select id="author" name="author">
                            <% authors.forEach( author => {%>
                            <option author-id="<%= author.id %>"><%= author.first_name + " " + author.last_name %> </option>
                            <%}); %>
                        </select>
                        <label for="content-category">Category</label>
                        <select id="category" name="category">

                        </select>
                    </fieldset> 
                    <fieldset>
                        <legend>Copy</legend>
                        <label for="copy-textarea">Landing Page Copy</label>
                        <textarea id="copy-textarea" name="copy" style="display:none;"></textarea>
                        <div id="copy"></div>
                        <label for="meta-des">Meta description</label>
                        <textarea id="meta-des"></textarea>
                    </fieldset>       
                    <fieldset>
                        <legend>Upload</legend>
                        <label for="upload-pdf">Browse PDF</label><input type="file" id="upload-pdf" name="upload-pdf">
                        <label for="upload-thumb">Browse Thumbnail Image</label><input type="file" id="upload-thumb" name="upload-thumb">
                    </fieldset>

                    <fieldset>
                        <legend>Tags</legend>
                        <ul id="tags"></ul>
                    </fieldset>
                    <fieldset>
                        <legend>Streams</legend>
                            <% streams.forEach( stream => {%>
                            <label for="<%= stream.id %>" class="pure-checkbox">
                                <input type="checkbox" id="<%= stream.id %>" value="<%= stream.title %>"><%= stream.title %>
                            </label>
                            <%}); %>
                        </select>
                    </fieldset>
                    <fieldset>
                        <input type="submit" value="Submit">
                    </fieldset>
                </form>
            </div>
        </div>

        <script type="text/javascript">
            $(document).ready(function() {
                $("#tags").tagit({
                    autocomplete: {
                        source: <%- JSON.stringify(locals.contentTags) %>
                    },
                    allowSpaces: true
                });
            });
        </script>
        <script type="text/javascript" src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
        <script>var quill = new Quill('#copy', { theme: 'snow' });</script>

    </body>
</html>